* {
    box-sizing: border-box;
    padding: 0px 200px 10px 10px;

}
.parent-box {
    width: 700px;
    height: 900px;
    background-color: black;
    position: relative;
    float: right;


}

.child-box1 {
    width: 400px;
    height: 600px;
    background-color: yellow;
    right: 0;
    bottom: 0;
    position: absolute;
    /* z-index: 4; */
}

.child-box2 {
    width: 200px;
    height: 150px;

    background-color: red;
    right: 0px;
    bottom: 350px;
    position: absolute;
    /* z-index: 2; */
}


